body {
    background-color: #FBE9D5;
    font-size: 16px;
}

#logo {
    width: 250px;
    max-width: 250px;
    min-width: 150px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: #F8BBD0;
}