* {
    box-sizing: border-box;
}

body {
    background-color: #FBE9D5;
    font-size: 16px;
    margin: 0;
}

#logo {
    width: 250px;
    max-width: 250px;
    min-width: 150px;
}

/* nav {
    background-color: aqua;
    margin-bottom: -16px;
    margin-top: -16px;
} */

header {
    display: flex;
    justify-content: center;
    background-color: #F8BBD0;
    width: 100%;
    margin-bottom: -20px;
}

h1 {
    font-size: 1.9em;
    font-family: 'Yeseva One';
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

p {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.form-question {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

hr {
    border: 1px solid #914D2A;
    width: 350px;
    max-width: inherit;
    min-width: 250px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
}

.polaroid {
    box-shadow: 1px 3px 6px 3px #A1A1A1;
    background-color: #F9F9F9;
}


.caption > p {
    font-size: 17px;
    font-style: italic;
    font-family: 'Montserrat';
    text-align: center;
}

.higher {
    padding-bottom: 20px;
}

.lower {
    padding-top: 20px;
}

form {
    font-size: 17px;
    font-family: 'Montserrat';
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: none;
    background-color: rgba(248, 187, 208, 0.3);
    border-radius: 10px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input {
    width: 150px;
    height: 20px;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    font-size: 17px;
    margin: 20px auto;
    height: 1.8em;
    border-color: #914D2A;
    background-color: #F9F9F9;
}

input[type="submit"]:hover {
    background-color: #F8BBD0;
    border-color: #F9F9F9;
    cursor: pointer;
}